@font-face {
	font-family: "Comic Sans MS";
	src: url('comic.eot');
	src: url('comic.eot') format('embedded-opentype'),
		url('comic.woff2') format('woff2'),
		url('comic.woff') format('woff'),
		url('comic.ttf') format('truetype');
}

html, body
{
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

body, table, input, select, button, textarea {
	font-family: "Comic Sans MS", "Segoe UI", "Roboto", "Helvetica", sans-serif;
	font-size: 16px;
}

body:before {
	background-color: #000000;
	background-image: url(background.jpg);
	background-position: center center;
	background-repeat: no-repeat;
}

body {
	padding: 4vh;
	justify-content: end;
	box-sizing: border-box;
}

.snow {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: end;
	width: 100%;
	height: 100%;
	background-image: url('snowflake1.png'), url('snowflake2.png'), url('snowflake3.png');
	animation: snow 20s linear infinite;
	animation-timing-function: steps(1000);
}

@keyframes snow {
	0% {background-position: 0 0, 0 0, 0 0;}
	100% {background-position: 500px 1000px, 400px 400px, 300px 300px;}
}

.counter {
	color: #691e00;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	gap: 4vh;
}

.counter .item {
	float: left;
	width: 20vh;
	position: relative;
}

.counter .value {
	width: 100%;
	height: 20vh;
	line-height: 20vh;
	font-size: 12.5vh;
	border-radius: 4vh;
	text-align: center;
	color: #ffffff;
	text-shadow: -0.25vh -0.4vh 0.8vh currentColor;
	box-shadow: -0.25vh -0.4vh 0.8vh currentColor;
}

.counter .value.lower {
	background-color: #004400;
}

.counter .value.upper {
	background-color: #800000;
	position: absolute;
	top: 0;
	left: 0;
	height: 10vh;
	border-radius: 4vh 4vh 0 0;
	border-bottom: 2px solid rgba(14, 30, 189, 0.5);
	overflow: hidden;
	box-shadow: none;
}

.counter [data-total="0"] .value.upper {
	background-color: #004400;
}

.counter small {
	display: block;
	width: 100%;
	font-size: 4vh;
	line-height: 100%;
	margin-top: 2vh;
	text-align: center;
	text-shadow: -0.25vh -0.4vh 0.8vh currentColor;
}

.pyro {
	position: relative;
	width: 92vh;
	height: 20vh;
	margin-bottom: 6vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.pyro > .before, .pyro > .after {
	transform: scale(1.5, 1.5);
}

.congratulations:before {
	content: '';
    background: rgba(105, 30, 0, 0.5);
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
	border-radius: 4vh;
}

.congratulations .text {
	position: relative;
	text-align: center;
	color: orange;
	background: repeating-linear-gradient(to right, red,orange 10px, yellow 20px, orange 30px, red 40px);
	-webkit-background-clip: text;
	-moz-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
	font-size: 10vh;
	line-height: 100%;
	font-weight: bold;
	text-shadow: -0.1em -0.1em 0.1em rgba(255, 255, 255, 0.5);
}

@media screen and (max-aspect-ratio: 1) {
	body {
		padding: 4vw;
	}

	.counter {
		gap: 4vw;
	}

	.counter .item {
		width: 20vw;
	}

	.counter .value {
		height: 20vw;
		line-height: 20vw;
		font-size: 12.5vw;
		border-radius: 4vw;
	}

	.counter .value.upper {
		height: 10vw;
		border-radius: 4vw 4vw 0 0;
	}

	.counter small {
		font-size: 4vw;
		margin-top: 2vw;
	}

	.pyro {
		width: 92vw;
		height: 20vw;
		margin-bottom: 6vw;
	}

	.congratulations:before {
		border-radius: 4vw;
	}

	.congratulations .text {
		font-size: 10vw;
	}
}
