@font-face {
	font-family: "Comic Sans MS";
	src: url('comic.eot');
	src: url('comic.eot') format('embedded-opentype'),
		url('comic.woff2') format('woff2'),
		url('comic.woff') format('woff'),
		url('comic.ttf') format('truetype');
}

html, body
{
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

body, table, input, select, button, textarea {
	font-family: "Comic Sans MS", "Segoe UI", "Roboto", "Helvetica", sans-serif;
	font-size: 16px;
}

body:before {
	background-color: #000000;
	background-image: url(background.jpg);
	background-position: center center;
	background-repeat: no-repeat;
}

.snow {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: start;
	width: 100%;
	height: 100%;
	background-image: url('snowflake1.png'), url('snowflake2.png'), url('snowflake3.png');
	animation: snow 20s linear infinite;
	animation-timing-function: steps(1000);
}

@keyframes snow {
	0% {background-position: 0 0, 0 0, 0 0;}
	100% {background-position: 500px 1000px, 400px 400px, 300px 300px;}
}

.pyro {
	position: relative;
	width: 100vw;
	height: 50vh;
	transform: scale(1, 0.5);
}

.pyro > .before, .pyro > .after {
	transform: scale(1.5, 3);
}

.pyro > .congratulations {
	transform: scale(1, 2);
}

.congratulations {
	text-align: center;
	color: orange;
	background: repeating-linear-gradient(to right, red,orange 10px, yellow 20px, orange 30px, red 40px);
	-webkit-background-clip: text;
	-moz-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
	font-size: 12.5vh;
	line-height: 18vh;
	font-weight: bold;
	text-shadow: -0.1em -0.1em 0.1em rgba(255, 255, 255, 0.5);
}

.counter {
	color: white;
	padding-top: 10vh;
}

.counter .item {
	float: left;
	width: 15vh;
	height: 15vh;
	margin: 1.5vh;
	position: relative;
}

.counter .value {
	width: 100%;
	height: 100%;
	position: absolute;
	font-size: 10vh;
	line-height: 15vh;
	text-align: center;
	border-radius: 3vh;
	color: #ffffff;
	text-shadow: -0.2vh -0.3vh 0.6vh currentColor;
	box-shadow: -0.2vh -0.3vh 0.6vh currentColor;
}

.counter .value.lower {
	background-color: #004400;
}

.counter .value.upper {
	background-color: #800000;
	height: 50%;
	border-bottom: 2px solid rgba(14, 30, 189, 0.5);
	overflow: hidden;
	border-radius: 3vh 3vh 0 0;
	box-shadow: none;
}

/* .counter [data-total="0"] .value.upper {
	background-color: #004400;
} */

.counter small {
	position: absolute;
	bottom: -6vh;
	font-size: 3vh;
	line-height: 6vh;
	width: 100%;
	text-align: center;
	text-shadow: -0.2vh -0.3vh 0.6vh currentColor;
}

@media screen and (max-aspect-ratio: 1) {
	.counter .item {
		width: 15vw;
		height: 15vw;
		margin: 1.5vw;
	}

	.counter .value {
		font-size: 10vw;
		line-height: 15vw;
		border-radius: 3vw;
	}

	.counter .value.upper {
		border-radius: 3vw 3vw 0 0;
	}

	.counter small {
		bottom: -6vw;
		font-size: 3vw;
		line-height: 6vw;
	}
}
