html, body {
	margin: 0;
	padding: 0;
	height: 100%;
}

body {
	font-family: 'Consolas', monospace, sans-serif;
	font-size: 15px;
	display: flex;
	flex-direction: column;
}

span {
	white-space: nowrap;
}

#features {
	flex-grow: 1;
	width: 100%;
	overflow-x: hidden;
}

button {
	font-size: 1em;
	padding: 1em;
	cursor: pointer;
	text-transform: uppercase;
}

