html, body {
	margin: 0;
	padding: 0;
	height: 100%;
}

body, table, input, select, button, textarea {
	font-family: "Consolas", "Courier new", monospace;
	font-size: 15px;
}

body {
	display: flex;
	flex-direction: column;
}

span {
	white-space: nowrap;
}

#features {
	flex-grow: 1;
	width: 100%;
	overflow-x: hidden;
}

button {
	font-size: 1em;
	padding: 1em;
	cursor: pointer;
	text-transform: uppercase;
}

