* {
	box-sizing: border-box;
}

html, body {
	margin: 0;
	padding: 0;
}

body, table, input, select, button, textarea {
	font-family: "Segoe UI", "Roboto", "Helvetica", sans-serif;
	font-size: 16px;
}

body {
	min-height: 100%;
	line-height: 150%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	padding: 1em;
	gap: 1em;
}

body:before {
	content: '';
	position: fixed;
	left: 0;
	top: 0;
	width: 100vw;
	height: 100vh;
}

body > * {
	z-index: 1;
}

.box {
	width: 100%;
	max-width: 960px;
	padding: 1em;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	gap: 1em;
	position: relative;
	border: 1px solid black;
}

.box > *:first-child,
.box > [lang] > *:first-child {
	margin-top: 0;
}

.box > hr:last-child,
.box > [lang] > hr:last-child {
	display: none;
}

a.break-word {
	word-wrap: break-word;
}

ul {
	margin: 0;
	display: flex;
	flex-direction: column;
	gap: 1em;
}

hr {
	margin: 2em 0;
}

dl {
	display: flex;
	justify-content: space-between;
}

dd {
	flex-grow: 1;
}

/* buttons */

.buttons {
	display: flex;
	gap: 0.5em;
	flex-wrap: wrap;
}

button {
	flex: 1;
	height: 2em;
	min-width: 100px;
	text-transform: uppercase;
	cursor: pointer;
	flex-grow: 1;
	border-radius: 0.5em;
	border-width: 1px;
}

button[disabled] {
	opacity: 0.5;
	cursor: not-allowed;
}

/* languages */

[lang="en"] {
	display: none;
}

body[data-lang="en"] [lang="ru"] {
	display: none;
}

body[data-lang="en"] [lang="en"] {
	display: block;
}

/* themes */

.theme {
	width: 100%;
	max-width: 960px;
	cursor: pointer;
}

.theme svg {
	float: right;
}

/* light theme */

body {
	color: #3d2917;
}

body:before {
	background: #eee6d9 url(/images/bg.jpg) center center no-repeat;
	background-size: cover;
}

.box,
button {
	color: inherit;
	background: rgba(255, 255, 255, 0.7);
	border-color: #6d4929;
}

button,
button[disabled]:hover {
	filter: brightness(0.95);
}

button:hover {
	filter: none;
}

a,
a:link,
a:visited {
	color: #0086b3;
}

a:hover,
a:focus {
	filter: brightness(1.25);
}

/* dark theme */

body[data-theme="dark"] {
	color: #bbbbbb;
}

body[data-theme="dark"]:before {
	background: #1e1e1e;
}

body[data-theme="dark"] .box,
body[data-theme="dark"] button {
	background: #252525;
	border-color: #414141;
}

body[data-theme="dark"] hr {
	border: 1px inset #414141;
}

body[data-theme="dark"] a,
body[data-theme="dark"] a:link,
body[data-theme="dark"] a:visited {
	color: #4a9cb7;
}

body[data-theme="dark"] a:hover,
body[data-theme="dark"] a:focus {
	filter: brightness(1.25);
}

body[data-theme="dark"] button,
body[data-theme="dark"] button[disabled]:hover {
	filter: brightness(1.1);
}

body[data-theme="dark"] button:hover {
	filter: brightness(1.2);
}

/* mobile */

@media screen and (max-width: 800px) {
	body, table, input, select, button, textarea {
		font-size: 18px;
	}
}
