/* variables */

body {
	--text-color: hsl(28, 45%, 20%);
	--border-color: hsl(28, 45%, 80%);
	--separator-color: hsl(28, 45%, 100%);
	--body-background-color: hsl(38, 35%, 90%);
	--scrollbar-color: hsl(38, 35%, 80%);
	--link-color: hsl(195, 100%, 35%);
	--box-background-color: hsla(0, 0%, 100%, 0.7);
	--body-background-image: url(/images/bg.jpg);
	--link-brightness-hover: 1.25;
	--button-background-color: hsl(38, 35%, 85%);
	--button-border-color: hsl(28, 45%, 40%);
	--button-brightness-hover: 1.03;
	--font-size: 16px;
	--border-radius: 6px;
	--header-footer-height: 32px;
}

body[data-theme="dark"] {
	--text-color: hsl(0, 0%, 75%);
	--border-color: hsl(0, 0%, 25%);
	--separator-color: hsl(0, 0%, 0%);
	--body-background-color: hsl(0, 0%, 12%);
	--scrollbar-color: hsl(0, 0%, 25%);
	--link-color: hsl(195, 43%, 50%);
	--box-background-color: hsl(0, 0%, 15%);
	--body-background-image: url();
	--link-brightness-hover: 1.25;
	--button-background-color: hsl(0, 0%, 25%);
	--button-border-color: hsl(0, 0%, 35%);
	--button-brightness-hover: 1.1;
}

@media screen and (max-width: 800px) {
	body {
		--font-size: 18px;
	}
}

* {
	box-sizing: border-box;
}

/* body */

html, body {
	margin: 0;
	padding: 0;
}

body, table, input, select, button, textarea {
	font-family: "Segoe UI", "Roboto", "Helvetica", sans-serif;
	font-size: var(--font-size);
}

body {
	height: 100vh;
	line-height: 150%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	padding: 1em;
	gap: 1em;
	color: var(--text-color);
}

body:before {
	content: '';
	position: fixed;
	left: 0;
	top: 0;
	width: 100vw;
	height: 100vh;
	background-size: cover;
	background-color: var(--body-background-color);
	background-image: var(--body-background-image);
	background-position: center center;
	background-repeat: no-repeat;
}

/* box */

.box {
	background-color: var(--box-background-color);
	border: 1px solid var(--border-color);
	border-radius: var(--border-radius);
	padding: 4px 1em;
}

/* sections */

header,
main,
footer {
	z-index: 1;
	width: 100%;
	max-width: 960px;
	position: relative;
}

main {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	gap: 1em;
	overflow-y: auto;
}

main.box {
	padding: 1em;
}

main > *:first-child,
main > [lang] > *:first-child {
	margin-top: 0;
}

main > hr:last-child,
main > [lang] > hr:last-child {
	display: none;
}

header,
footer {
	z-index: 2;
	height: var(--header-footer-height);
}

header {
	padding: 0 1em;
	display: grid;
	grid-template-columns: 1fr auto 1fr;
	align-items: center;
}

header * {
	grid-column: 2;
	justify-self: center;
}

header .left {
	grid-column: 1;
	justify-self: start;
}

header .right {
	grid-column: 3;
	justify-self: end;
}

header h1 {
	font-size: 24px;
	line-height: var(--header-footer-height);
	margin: 0;
}

@media screen and (max-width: 800px) {
	main {
		width: 100vw;
	}

	main.box {
		border-width: 1px 0;
		border-radius: 0;
	}

	header,
	footer {
		padding: 0;
	}
}

/* scrollbar */

::-webkit-scrollbar {
	width: 0.5em;
	height: 0.5em;
	background-color: var(--body-background-color);
}

::-webkit-scrollbar-thumb {
	background-color: var(--scrollbar-color);
}

main::-webkit-scrollbar,
main::-webkit-scrollbar-thumb {
	border-radius: var(--border-radius);
}

::-webkit-scrollbar-track {
	background-color: transparent;
}

::-webkit-scrollbar-button {
	display: none;
}

@media screen and (max-width: 800px) {
	main::-webkit-scrollbar,
	main::-webkit-scrollbar-thumb {
		border-radius: 0;
	}
}

@supports (-moz-appearance: none) {
	main {
		scrollbar-width: thin;
		scrollbar-color: var(--scrollbar-color) var(--body-background-color);
	}
}

/* blocks */

ul {
	margin: 0;
	display: flex;
	flex-direction: column;
	gap: 1em;
}

dl {
	display: flex;
	justify-content: space-between;
}

dd {
	flex-grow: 1;
}

hr {
	margin: 2em 0;
	border: 1px solid var(--border-color);
	border-top-color: var(--separator-color);
}

body[data-theme="dark"] hr {
	border-width: 1px;
}

/* typographic */

a,
a:link,
a:visited {
	color: var(--link-color);
}

a:hover,
a:focus {
	filter: brightness(var(--link-brightness-hover));
}

a.break-word {
	word-wrap: break-word;
}

/* buttons */

.buttons {
	display: flex;
	gap: 0.5em;
	flex-wrap: wrap;
	align-items: center;
}

button {
	flex: 1;
	height: 2em;
	min-width: 100px;
	text-transform: uppercase;
	cursor: pointer;
	flex-grow: 1;
	border-radius: var(--border-radius);
	border-width: 1px;
	border-style: solid;
	color: inherit;
	background: var(--button-background-color);
	border-color: var(--button-border-color);
}

button,
button[disabled]:hover {
	filter: brightness(1);
}

button:hover {
	filter: brightness(var(--button-brightness-hover));
}

button[disabled] {
	opacity: 0.5;
	cursor: not-allowed;
}

/* languages */

[lang="en"] {
	display: none;
}

body[data-lang="en"] [lang="ru"] {
	display: none;
}

body[data-lang="en"] [lang="en"] {
	display: block;
}

/* themes */

.theme {
	cursor: pointer;
	float: right;
}

.themeSwitcher ul {
	border: 1px solid var(--border-color);
	border-radius: var(--border-radius);
	background: var(--body-background-color);
}

/* preloader */

.preloader {
	width: 100%;
	height: 100%;
	display: grid;
}

.preloader:before {
	display: block;
	content: '';
	margin: auto;
	z-index: 1;
	width: 100px;
	height: 100px;
	opacity: 0.7;
	background: url(images/preloader-light.svg) center center no-repeat;
	background-size: cover;
}

body[data-theme="dark"] .preloader:before {
	background-image: url(images/preloader-dark.svg);
}

@keyframes preloader {
	from {
		transform: rotate(0);
	}

	to {
		transform: rotate(360deg);
	}
}
