* {
	box-sizing: border-box;
}

html, body {
	margin: 0;
	padding: 0;
}

body, input, textarea {
	font-family: 'Consolas', monospace, sans-serif;
	font-size: 15px;
}

body {
	min-height: 100%;
	line-height: 150%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	padding: 2em;
	gap: 2em;
}

body:before {
	content: '';
	position: fixed;
	left: 0;
	top: 0;
	width: 100vw;
	height: 100vh;
}

body > * {
	z-index: 1;
}

.box {
	width: 100%;
	max-width: 960px;
	padding: 20px;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	gap: 1em;
	position: relative;
	border: 1px solid black;
}

.box > *:first-child,
.box > [lang] > *:first-child {
	margin-top: 0;
}

.box > hr:last-child,
.box > [lang] > hr:last-child {
	display: none;
}

a.break-word {
	word-wrap: break-word;
}

@media screen and (max-width: 800px) {
	body, input, textarea {
		font-size: 18px;
	}

	body {
		padding: 0;
	}

	body:before {
		background: none;
	}

	.box {
		border: 0;
		min-height: 100%;
	}
}

ul {
	margin: 0;
	display: flex;
	flex-direction: column;
	gap: 1em;
}

hr {
	margin: 2em 0;
}

dl {
	display: flex;
	justify-content: space-between;
}

dd {
	flex-grow: 1;
}

.theme {
	position: absolute;
	right: 20px;
	top: 20px;
	cursor: pointer;
}

.theme:hover {
	filter: brightness(1.2);
}

.theme svg {
	width: 32px;
	height: 32px;
	stroke: currentColor;
	display: none;
}

/* default theme */

body {
	color: #3d2917;
}

body:before {
	background: #eee6d9 url(/images/bg.jpg) center center no-repeat;
	background-size: cover;
}

.box {
	background: rgba(255, 255, 255, 0.7);
}

.box {
	border-color: #6d4929;
}

.theme .light {
	display: block;
}

a,
a:link,
a:visited {
	color: #0086b3;
}

a:hover,
a:focus {
	filter: brightness(1.25);
}

/* dark theme */

body[data-theme="dark"] {
	color: #bbbbbb;
}

body[data-theme="dark"]:before {
	background: #1e1e1e;
}

body[data-theme="dark"] .theme .light {
	display: none;
}

body[data-theme="dark"] .theme .dark {
	display: block;
}

body[data-theme="dark"] .box {
	background: #252525;
	border-color: #414141;
}

body[data-theme="dark"] hr {
	border: 1px inset #414141;
}

body[data-theme="dark"] a,
body[data-theme="dark"] a:link,
body[data-theme="dark"] a:visited {
	color: #4a9cb7;
}

body[data-theme="dark"] a:hover,
body[data-theme="dark"] a:focus {
	filter: brightness(1.25);
}
