html, body, #dropboxHolder
{
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

body, table, input, select, button, textarea {
	font-family: "Segoe UI", "Roboto", "Helvetica", sans-serif;
	font-size: 16px;
}

th, td
{
	width: 150px;
	height: 15px;
	vertical-align: middle;
}

th
{
	cursor: pointer;
	color: #3333AA;
	text-decoration: underline;
}

.date { }
.number { }
.count { }
.type { }
.where { }
.value { width: 150px; text-align: right; }

.hTableHolder
{
	background: #FFFFFF;
	position: absolute;
	z-index: 2;
}

.dTableHolder
{
	position: absolute;
	z-index: 1;
	top: 0;
	height: 100%;
	overflow: scroll;
}
