html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

body, table, input, select, button, textarea {
	font-family: "Segoe UI", "Roboto", "Helvetica", sans-serif;
	font-size: 36vw;
}

body {
	background: #000000;
	color: #222222;
	line-height: 1;
	display: flex;
	justify-content: center;
	align-items: center;
}

.divider {
	margin-top: -6%;
	padding: 0 2%;
}
