body {
	height: 100vh;
}

.box {
	flex-grow: 1;
}

.lines {
	overflow-y: auto;
	border: 1px solid currentColor;
}

.lines:empty {
	border: none;
}

.line {
	border-bottom: 1px solid currentColor;
	cursor: pointer;
}

.line.selected {
	background: hsl(100 100% 35% / 1);
}

.line.invalid {
	background: hsl(50 100% 50% / 1);
}

body[data-theme="dark"] .line.selected {
	background: hsl(100 100% 15% / 1);
}

body[data-theme="dark"] .line.invalid {
	background: hsl(50 100% 15% / 1);
}

p {
	margin: 0;
	padding: 0.5em;
}
