.top .buttons {
	float: left;
}

.box {
	gap: 0;
}

.line {
	border: 1px solid currentColor;
	border-bottom-width: 0;
	cursor: pointer;
}

.line:last-child {
	border-bottom-width: 1px;
}

.line.selected {
	background: hsl(100 100% 35% / 1);
}

.line.invalid {
	background: hsl(50 100% 50% / 1);
}

body[data-theme="dark"] .line.selected {
	background: hsl(100 100% 15% / 1);
}

body[data-theme="dark"] .line.invalid {
	background: hsl(50 100% 15% / 1);
}

p {
	margin: 0;
	padding: 0.5em;
}
